{{#if isEditing}}
	<p><button {{action 'deleteModelname'}}>Delete</button></p>
  <p>{{input type="text" value=model.name size="60"}}</p>
	<button {{action 'doneEditing'}}>Done</button>
{{else}}
	<button {{action 'edit'}}>Edit</button>
{{/if}}

<h1>{{model.name}}</h1>

