{{#if isEditing}}
	{{partial 'page-edit'}}
	<button {{action 'doneEditing'}}>Done</button>
{{else}}
	<button {{action 'edit'}}>Edit</button>
{{/if}}

<h1>{{model.title}}</h1>
<small class='muted'>Model: {{model.mname.name}} Date: ({{format-date model.date}})</small>

<hr>

<div class='below-the-fold'>
	{{format-markdown model.body}}
</div>